.sv_pagination{
display:block;
margin-top:10px;
}

.sv_pagination select{
outline:none;
border:1px solid #cccccc;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
padding-left:3px;
padding-top:5px;
padding-bottom:5px;
padding-right:1.5rem;
-webkit-appearance:none;
-moz-appearance:none;
background-color:#ffffff;
background-image:url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+");
background-repeat:no-repeat;
background-position-x:100%;
background-position-y:2px;
font-size:medium;
}

.sv_pagination select::-ms-expand{
display:none;
}

.sv_error{
color:red;
font-weight:bold;
}

.sv_success{
color:green;
font-weight:bold;
}

.sv_list{
margin-top:10px;
}

.sv_item{
display:block;
margin-top:10px;
border:1px solid #cccccc;
border-radius:5px;
padding:8px;
background-color:#F6F6F6;
}

.sv_label{
cursor:pointer;
}

.sv_checkbox{
margin-right:5px;
}

.sv_current{
color:red;
}

.sv_item pre{
white-space:pre-wrap;
}

.sv_selall{
display:block;
margin-top:10px;
}

.sv_selall button{
margin-left:10px;
}

.sv_configbtn{
display:block;
margin-top:10px;
text-align:center;
}